@import url(https://fonts.googleapis.com/css?family=Open+Sans);
      html,body {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        min-width: 320px;
        background: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 15px;
      }

      .authContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
      }

      #content {
        padding-top: 56px;
      }
      .ui.borderless.menu {
        box-shadow: none;
        flex-wrap: wrap;
        border: none;
        padding-left: 0;
        padding-right: 0;
      }
